@import "../../assets/css/variables";

header {
  width: 100%;
  padding: 0 15px;
  position: fixed;
  background-color: $aqua-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.back-button {
  display: none;
}

// .back-button {
//   width: 5rem;
//   display: block;
//   padding: 12.5px 0;

//   svg {
//     fill: #fff;
//     width: 25px;
//     height: 25px;
//   }
// }

.geotrix-logo img {
  padding: 5px 20px;
}

.menu {
  width: 60px;
  padding: 15px 15px 10px;

  div {
    height: 3px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #fff;
  }

  div:nth-child(1) {
    width: 50%;
    margin-left: 50%;
  }

  div:nth-child(2) {
    width: 100%;
  }

  div:nth-child(3) {
    width: 50%;
  }
}

// After change this property, check the height of the banner
// in home.component.scss
.back-button,
.geotrix-logo,
.geotrix-logo img,
.menu {
  height: 50px;
}

@media screen and (display-mode: standalone) {
  .back-button {
    width: 5rem;
    display: block;
    padding: 12.5px 0;

    svg {
      fill: #fff;
      width: 25px;
      height: 25px;
    }
  }
}

// .back-button:-moz-full-screen {
//   width: 5rem;
//   display: block;
//   padding: 12.5px 0;

//   svg {
//     fill: #fff;
//     width: 25px;
//     height: 25px;
//   }
// }
