.determinant-container {
  width: 100%;
  margin: auto;
  padding: 0 2rem;
  max-width: 900px;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  padding: 80px 0 30px;
}

.btn-calculate {
  width: 93px;
  display: block;
  margin: 40px auto;
}

.mat-expansion-panel-header {
  height: fit-content !important;
  padding: 12px 24px;
}

mat-expansion-panel::ng-deep .mat-expansion-panel-body {
  padding: 16px 24px 16px 34px;
}

mat-tab-group::ng-deep .mat-tab-body {
  overflow: hidden;
}
