<header class="dock-header">
  Geotrix
</header>

<nav>
  <mat-accordion>
    <mat-expansion-panel hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title translate="dock.matrix.title"></mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="themes-list">
        <li>
          <a class="dock-link" routerLink="matrix/determinant" (click)="closeSidenav()" routerLinkActive="active"
            translate="dock.matrix.determinant"></a>
        </li>

        <li>
          <a class="dock-link" routerLink="matrix/inverse" (click)="closeSidenav()" routerLinkActive="active"
            translate="dock.matrix.inverse"></a>
        </li>
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title translate="dock.vector.title"></mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="themes-list">
        <li translate="dock.vector.dotProduct"></li>
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title translate="dock.settings.title"></mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>
</nav>

<footer class="dock-footer">
  Version: 1.0.0
</footer>
