@import "~@angular/material/theming";

:host {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.dock-header {
  height: 100px;
  color: white;
  display: block;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 90px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  a {
    display: block;
  }
}

.dock-nav {
  top: -30px;
  position: relative;
}

.mat-expansion-panel {
  margin: 12px;
  border-radius: 15px;
}

.expansion-header {
  font-size: 1.6rem;

  mat-panel-title {
    margin: 0;
  }

  mat-panel-description {
    margin: auto;
    color: rgba(0, 0, 0, 0.87);
  }
}

.expansion-icon {
  width: 40px;
  height: 40px;
}

.themes-list {
  margin: 16px 0 0 20px;
  font-size: 1.5rem;

  li {
    height: 20px;
    margin: 15px 0;
  }

  a {
    display: block;

    &::after {
      content: "";
      height: 3px;
      display: block;

      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &.active::after {
      transform: scaleX(1);
    }
  }
}

.dock-footer {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}

@mixin geotrix-dock-theme($theme) {
  $primary: map-get($theme, primary);

  .dock-header, .active::after {
    background-color: mat-color($primary, darker);
  }
}
