snack-bar-container {
  margin: 0 8px 30px !important;
}

mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.sidenav-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  mat-sidenav {
    width: 270px;
  }
}
