* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 2.5rem;
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
