@import '~@angular/material/theming';
// Plus imports for other components in your app.

@include mat-core();


$geotrix-primary: mat-palette($mat-indigo);
$geotrix-accent: mat-palette($mat-pink, A200, A100, A400);
$geotrix-warn: mat-palette($mat-red);

$geotrix-theme: mat-light-theme($geotrix-primary, $geotrix-accent, $geotrix-warn);

@include angular-material-theme($geotrix-theme);

* {
    box-sizing: border-box;
    outline: none;
}

html {
  font-size: 62.5%;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
