* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 2.5rem;
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

snack-bar-container {
  margin: 8px 8px 20px !important;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/iconfont/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(./assets/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(./assets/iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(./assets/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
